@include tablet { 
    .contenedor-anuncios {
        @include grid(3, 2rem)
    }
}

.anuncio {
    background-color: lighten($gris,5);
    border: 1px solid darken($gris,5);

    .contenido-anuncio {
        padding: 2rem;

        h3, p {
            margin: 0rem;
        }

        .precio {
            color: $verde;
            font-weight: $bold;
            font-size: 3rem;
        }
    }

}


.iconos-caracteristicas {
    display: flex;
    gap: 4rem;
    padding: 0;
    justify-content: center;

    li {
        display: flex;
        

        img {
            width: 3rem;
            margin-right: 1rem;
        }

        p{
            color: $negro;
            font-weight: bold;
        }
    }
}