.footer{
    background-color: $grisOscuro;
    padding: 2rem;
    margin-bottom: 0;

    .contenedor-footer{
        padding-top: 1.2rem;
    }

    .copyright {
        text-align: center;
        color: $blanco;
    }
}