.resumen-propiedad {
    padding: 2rem;
    .precio {
        font-size: 2.6rem;
    }

    .iconos-caracteristicas {
        display: flex;
        justify-content: flex-start;
        //margin-left: 2rem;
        gap: 10rem;
    }

    p {
        font-size: 1.8rem;
        margin: 1rem 0;
    }
}